In [1]:
# Connetced yourself Cloud Storage
from google.colab import drive
drive.mount('/content/drive')

import os
os.chdir('/content/drive/My Drive/112-1@LATIA/week2_091223')
os.listdir()

Mounted at /content/drive

['poster_24.jpg',
 'poster_25.jpg',
 'knowledge_06.pdf',
 '20230330_lecture01.pdf',
 '20230330_lecture02.pdf',
 '報一 國科會 懶人包.pdf',
 '111_student.csv',
 'edu_sample_data.csv',
 'EduData_Ans.ipynb',
 'LATIA_key.txt',
 'Chatgpt_demo.ipynb',
 'EduData.ipynb',
 '112-1學習分析工具實務應用LATIA _Week2.pptx',
 'OneDrive_1_2023-9-12.zip']

In [25]:
import pandas as pd

raw_data = pd.read_csv('111_student.csv', encoding='utf8')

In [3]:
raw_data.head()

,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,922,530,392,78,63,88,...,70,50,66,45,75,40,-,-,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,"4,203","1,907","2,296",663,823,611,...,2,2,-,-,-,-,-,-,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,"9,732","3,976","5,756",875,"1,388",927,...,-,-,-,-,-,-,336,430,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,"1,870",921,949,278,292,278,...,68,61,1,1,-,-,-,-,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,"1,669","1,169",500,227,97,215,...,139,67,94,41,131,54,-,-,18 新竹市,1 一般

In [35]:
import numpy as np
np.set_printoptions(precision=None, threshold=None, edgeitems=None, linewidth=None, suppress=None, nanstr=None, infstr=None, formatter=None, sign=None, floatmode=None)  # reset print options
##threshold
# 當要列印的陣列太大時，NumPy會自動以...代替一部分的內容，以減少篇幅！
# 但是可以透過全域設定set_printoptions設定threshold(門檻值)，
# 元素數量少於或等於門檻值的陣列就會全部列印出來，
# 相反地，元素數量高於門檻值，列印時就會省略部分內容。
# 陣列大小:20，門檻值20 => 陣列元素數量小於等於門檻值，應列印全部內容
# 讓列印出來的資料不斷行，使用lindwidth參數
# 讓列印出來的資料不斷列，使用threshold參數

# 查看 raw_data 前5筆資料並且讓列印出來的資料不斷行
#np.set_printoptions(linewidth=np.inf, threshold=np.inf)
np.printoptions(linewidth=np.inf, edgeitems=0)
#print(raw_data.iloc[:,0:23])
print(raw_data) #//待測試

     學校代碼        學校名稱 日間∕進修別   等級別     總計    男生計    女生計 一年級男生  一年級女生 二年級男生  \
0       1      國立政治大學    D 日  D 博士    922    530    392    78     63    88
1       1      國立政治大學    D 日  M 碩士  4,203  1,907  2,296   663    823   611
2       1      國立政治大學    D 日  B 學士  9,732  3,976  5,756   875  1,388   927
3       1      國立政治大學    N 職  M 碩士  1,870    921    949   278    292   278
4       2      國立清華大學    D 日  D 博士  1,669  1,169    500   227     97   215
..    ...         ...    ...   ...    ...    ...    ...   ...    ...   ...
778  1293  崇仁醫護管理專科學校    D 日  5 五專  3,051    431  2,620    82    511   106
779  3002      臺北市立大學    D 日  D 博士    211     95    116    16     17    15
780  3002      臺北市立大學    D 日  M 碩士  1,342    414    928   116    276   124
781  3002      臺北市立大學    D 日  B 學士  5,287  2,332  2,955   584    684   538
782  3002      臺北市立大學    N 職  M 碩士  1,191    328    863   112    268    90

     ... 五年級男生 五年級女生 六年級男生 六年級女生 七年級男生 七年級女生 延修生男生 延修生女生    縣市名稱   體系別
0    ...    70    50    66    45    75    40     -     -  30 臺北市  1 一般
1    ...     2     2     -     -     -     -     -     -  30 臺北市  1 一般
2    ...     -     -     -     -     -     -   336   430  30 臺北市  1 一般
3    ...    68    61     1     1     -     -     -     -  30 臺北市  1 一般
4    ...   139    67    94    41   131    54     -     -  18 新竹市  1 一般
..   ...   ...   ...   ...   ...   ...   ...   ...   ...     ...   ...
778  ...    68   507     -     -     -     -    14    41  10 嘉義縣  2 技職
779  ...    12    12     6     8    18    25     -     -  30 臺北市  1 一般
780  ...    18    51    26    53     -     -     -     -  30 臺北市  1 一般
781  ...     -     -     -     -     -     -   153   124  30 臺北市  1 一般
782  ...    25    51    18    48     -     -     -     -  30 臺北市  1 一般

[783 rows x 25 columns]

1. 本資料集總共收集了多少學校，請依國立/私立、等級別、縣市別、北中南東區、體系別區分。
2. 請問國立大學與私立大學在學男生女生比例為何?   延修生男生女生比例為何?
3. 請問各體系學校在學男生女生比例為何?   延修生男生女生比例為何?
4. 請問各縣市學校在學男生女生比例為何? 北中南東各區在學男生女生比例為何?
5. 請問國立大學與私立大學等級別男生女生比例為何?   延修生男生女生比例為何?
6. 請問各體系學校等級別男生女生比例為何?   延修生男生女生比例為何?
7. 請問各縣市學校等級別男生女生比例為何?   北中南東各區在學男生女生比例為何?   延修生男生女生比例為何?
8. 哪個學校在學人數最多?   依等級別區分? 依北中南東區分? 依體系別?

In [43]:
# 資料轉換的範例
# 將學校名稱轉換成國立與私立，並新插入一欄在dataset中
# 將縣市別轉換成北中南東區，並新插入一欄在dataset中

np.set_printoptions(precision=None, threshold=None, edgeitems=None, linewidth=None, suppress=None, nanstr=None, infstr=None, formatter=None, sign=None, floatmode=None)  # reset print options
np.printoptions(linewidth=5)
Public_private_counts = raw_data['學校名稱'].value_counts()
print(Public_private_counts, '\n')

Institution_type_counts = raw_data['體系別'].value_counts()
Institution_type_counts

弘光科技大學        10
國立臺北商業大學       9
國立虎尾科技大學       9
崑山科技大學         9
正修科技大學         9
              ..
新生醫護管理專科學校     2
馬偕醫護管理專科學校     2
國立臺灣戲曲學院       1
育英醫護管理專科學校     1
崇仁醫護管理專科學校     1
Name: 學校名稱, Length: 148, dtype: int64

2 技職    483
1 一般    280
3 師範     20
Name: 體系別, dtype: int64

2. 請依據 39 號學生的行為紀錄回答下列問題：
於 dp001 平台總共進行幾次不重複的影片瀏覽的學習紀錄? (dp001_review_sn)(dp001_video_item_sn)

3. 請依據 71 號學生的行為紀錄回答下列問題：
分別於哪幾天進入 dp001 平台? (dp001_review_start_time)( dp001_review_end_time)

4. 請依據全體學生的行為紀錄回答下列問題：
請找出在 dp001 平台中，最多影片瀏覽行為的影片序號 (dp001_review_sn)及其次數為多少?