# 111學年大專院校校別學生數 資料處理 (LATIA 112-1)
TA: CSIE 116 王修佑

## 讀取資料

In [1]:
import pandas as pd

df = pd.read_csv('111_student.csv', encoding='utf-8')
df.isnull().sum().sum()

0

In [2]:
df

,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,922,530,392,78,63,88,...,70,50,66,45,75,40,-,-,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,"4,203","1,907","2,296",663,823,611,...,2,2,-,-,-,-,-,-,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,"9,732","3,976","5,756",875,"1,388",927,...,-,-,-,-,-,-,336,430,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,"1,870",921,949,278,292,278,...,68,61,1,1,-,-,-,-,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,"1,669","1,169",500,227,97,215,...,139,67,94,41,131,54,-,-,18 新竹市,1 一般
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,1293,崇仁醫護管理專科學校,D 日,5 五專,"3,051",431,"2,620",82,511,106,...,68,507,-,-,-,-,14,41,10 嘉義縣,2 技職
779,3002,臺北市立大學,D 日,D 博士,211,95,116,16,17,15,...,12,12,6,8,18,25,-,-,30 臺北市,1 一般
780,3002,臺北市立大學,D 日,M 碩士,"1,342",414,928,116,276,124,...,18,51,26,53,-,-,-,-,30 臺北市,1 一般
781,3002,臺北市立大學,D 日,B 學士,"5,287","2,332","2,955",584,684,538,...,-,-,-,-,-,-,153,124,30 臺北市,1 一般
782,3002,臺北市立大學,N 職,M 碩士,"1,191",328,863,112,268,90,...,25,51,18,48,-,-,-,-,30 臺北市,1 一般

## 1. Lab 01
本資料集總共收集了多少學校，請依國立/私立、等級別、縣市別、北中南東區、體系別區分。

### 國立？所；私立？所

In [3]:
type_list = []

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('國立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

In [4]:
df1 = df.drop_duplicates('學校代碼')
count = df1['公私立'].value_counts()

print(f"本資料集共收集了 {len(df1)} 所學校，其中公立：{count['國立']} 所；私立：{count['私立']} 所。")

本資料集共收集了 148 所學校，其中公立：47 所；私立：101 所。

### 各等級別有？所

In [5]:
df1 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df1['等級別'].value_counts()

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
print(f"{count['D 博士']} 所有招收博士；\n{count['M 碩士']} 所有招收碩士；\n{count['B 學士']} 所有招收學士；")
print(f"{count['X 4+X']} 所有招收 4+X；\n{count['C 二技']} 所有招收二技；\n{count['B 四技']} 所有招收四技；")
print(f"{count['5 五專']} 所有招收五專；\n{count['5 七年']} 所有招收七年；\n{count['2 二專']} 所有招收二專；")
print(f"{count['C 二年制']} 所有招收二年制。")

本資料集總共收集了 148 所學校，各等級學制當中：
82 所有招收博士；
131 所有招收碩士；
68 所有招收學士；
1 所有招收 4+X；
74 所有招收二技；
68 所有招收四技；
47 所有招收五專；
2 所有招收七年；
49 所有招收二專；
1 所有招收二年制。

### 各縣市分別有？所

In [6]:
city_list = []
for i in df['縣市名稱']:
    city_list.append(i[3:])
df['縣市名稱'] = city_list

In [7]:
df1 = df.drop_duplicates('學校代碼')
count = df1['縣市名稱'].value_counts()

print(f"本資料集共收集了 {len(df1)} 所學校，其中：")
print(f"臺北市有 {count['臺北市']} 所；新竹市有 {count['新竹市']} 所；臺南市有 {count['臺南市']} 所；")
print(f"臺中市有 {count['臺中市']} 所；桃園市有 {count['桃園市']} 所；高雄市有 {count['高雄市']} 所；")
print(f"基隆市有 {count['基隆市']} 所；嘉義縣有 {count['嘉義縣']} 所；彰化縣有 {count['彰化縣']} 所；")
print(f"新北市有 {count['新北市']} 所；嘉義市有 {count['嘉義市']} 所；花蓮縣有 {count['花蓮縣']} 所；")
print(f"南投縣有 {count['南投縣']} 所；雲林縣有 {count['雲林縣']} 所；屏東縣有 {count['屏東縣']} 所；")
print(f"臺東縣有 {count['臺東縣']} 所；宜蘭縣有 {count['宜蘭縣']} 所；苗栗縣有 {count['苗栗縣']} 所；")
print(f"澎湖縣有 {count['澎湖縣']} 所；金門縣有 {count['金門縣']} 所；新竹縣有 {count['新竹縣']} 所；")

本資料集共收集了 148 所學校，其中：
臺北市有 24 所；新竹市有 5 所；臺南市有 14 所；
臺中市有 17 所；桃園市有 12 所；高雄市有 16 所；
基隆市有 3 所；嘉義縣有 4 所；彰化縣有 5 所；
新北市有 20 所；嘉義市有 2 所；花蓮縣有 4 所；
南投縣有 2 所；雲林縣有 3 所；屏東縣有 5 所；
臺東縣有 2 所；宜蘭縣有 3 所；苗栗縣有 3 所；
澎湖縣有 1 所；金門縣有 1 所；新竹縣有 2 所；

### 北中南東區分別有？所

> 都市及區域發展統計彙編 - 國發會 https://www.ndc.gov.tw/nc_77_4402

In [8]:
city_to_area = {'臺北市':'北部', 
                '新北市':'北部', 
                '基隆市':'北部', 
                '新竹市':'北部', 
                '桃園市':'北部', 
                '新竹縣':'北部', 
                '宜蘭縣':'北部', 
                '臺中市':'中部', 
                '苗栗縣':'中部', 
                '彰化縣':'中部', 
                '南投縣':'中部', 
                '雲林縣':'中部', 
                '高雄市':'南部', 
                '臺南市':'南部', 
                '嘉義市':'南部', 
                '嘉義縣':'南部', 
                '屏東縣':'南部', 
                '澎湖縣':'南部', 
                '花蓮縣':'東部', 
                '臺東縣':'東部', 
                '金門縣':'福建省'}
df['區域'] = df['縣市名稱'].map(city_to_area)

In [9]:
df1 = df.drop_duplicates('學校代碼')
count = df1['區域'].value_counts()

print(f"本資料集共收集了 {len(df1)} 所學校，其中：")
print(f"北部區域有 {count['北部']} 所；\n中部區域有 {count['中部']} 所；\n南部區域有 {count['南部']} 所；\n東部區域有 {count['東部']} 所；\n福建省區域有 {count['福建省']} 所。")

本資料集共收集了 148 所學校，其中：
北部區域有 69 所；
中部區域有 30 所；
南部區域有 42 所；
東部區域有 6 所；
福建省區域有 1 所。

### 各體系別分別有？所

In [10]:
df1 = df.drop_duplicates('學校代碼')
count = df1['體系別'].value_counts()

print(f"本資料集共收集了 {len(df1)} 所學校，其中：技職體系有 {count['2 技職']} 所；一般體系有 {count['1 一般']} 所；師範體系有 {count['3 師範']} 所。")

本資料集共收集了 148 所學校，其中：技職體系有 80 所；一般體系有 63 所；師範體系有 5 所。

## Lab 02
請問國立大學與私立大學在學男生女生比例為何? 延修生男生女生比例為何?

空白值補零

In [11]:
df = df.replace('-', 0, regex=True)
df = df.replace(',', '', regex=True)

In [12]:
df

,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別,公私立,區域
0,1,國立政治大學,D 日,D 博士,922,530,392,78,63,88,...,66,45,75,40,0,0,臺北市,1 一般,國立,北部
1,1,國立政治大學,D 日,M 碩士,4203,1907,2296,663,823,611,...,0,0,0,0,0,0,臺北市,1 一般,國立,北部
2,1,國立政治大學,D 日,B 學士,9732,3976,5756,875,1388,927,...,0,0,0,0,336,430,臺北市,1 一般,國立,北部
3,1,國立政治大學,N 職,M 碩士,1870,921,949,278,292,278,...,1,1,0,0,0,0,臺北市,1 一般,國立,北部
4,2,國立清華大學,D 日,D 博士,1669,1169,500,227,97,215,...,94,41,131,54,0,0,新竹市,1 一般,國立,北部
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,1293,崇仁醫護管理專科學校,D 日,5 五專,3051,431,2620,82,511,106,...,0,0,0,0,14,41,嘉義縣,2 技職,私立,南部
779,3002,臺北市立大學,D 日,D 博士,211,95,116,16,17,15,...,6,8,18,25,0,0,臺北市,1 一般,國立,北部
780,3002,臺北市立大學,D 日,M 碩士,1342,414,928,116,276,124,...,26,53,0,0,0,0,臺北市,1 一般,國立,北部
781,3002,臺北市立大學,D 日,B 學士,5287,2332,2955,584,684,538,...,0,0,0,0,153,124,臺北市,1 一般,國立,北部
782,3002,臺北市立大學,N 職,M 碩士,1191,328,863,112,268,90,...,18,48,0,0,0,0,臺北市,1 一般,國立,北部

In [13]:
count = {}

def create_count_dict(df, count):
    df1 = df.drop_duplicates('學校代碼')
    for i in df1['學校名稱']:
        count[i] = {}
        count[i]['在學生'] = {}
        count[i]['在學生']['男生數'] = 0
        count[i]['在學生']['女生數'] = 0
        count[i]['延修生'] = {}
        count[i]['延修生']['男生數'] = 0
        count[i]['延修生']['女生數'] = 0

def count_every_schools_data(df):
    for j in range(len(df)):
        count[df.iloc[j,1]]['在學生']['男生數'] += (int(df.iloc[j,7]) + int(df.iloc[j,9]) + int(df.iloc[j,11]) + int(df.iloc[j,13]) + int(df.iloc[j,15]) + int(df.iloc[j,17]) + int(df.iloc[j,19]))
        count[df.iloc[j,1]]['在學生']['女生數'] += (int(df.iloc[j,8]) + int(df.iloc[j,10]) + int(df.iloc[j,12]) + int(df.iloc[j,14]) + int(df.iloc[j,16]) + int(df.iloc[j,18]) + int(df.iloc[j,20]))
        count[df.iloc[j,1]]['延修生']['男生數'] += int(df.iloc[j,21])
        count[df.iloc[j,1]]['延修生']['女生數'] += int(df.iloc[j,22])

create_count_dict(df, count)
count_every_schools_data(df)

### 國立大學在學生男女比

In [31]:
public_current_male = 0
public_current_female = 0

df1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df1)):
    if df1.loc[i,'公私立'] == '國立':
        public_current_male += count[df1.loc[i,'學校名稱']]['在學生']['男生數']
        public_current_female += count[df1.loc[i,'學校名稱']]['在學生']['女生數']

ratio = public_current_male/public_current_female*100 # 男女比計算公式
print(f'國立大學在學生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

國立大學在學生男女比：119.55686062487909 ≑ 119.56

### 私立大學在學生男女比

In [33]:
private_current_male = 0
private_current_female = 0

df1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df1)):
    if df1.loc[i,'公私立'] == '私立':
        private_current_male += count[df1.loc[i,'學校名稱']]['在學生']['男生數']
        private_current_female += count[df1.loc[i,'學校名稱']]['在學生']['女生數']

ratio = private_current_male/private_current_female*100 # 男女比計算公式
print(f'私立大學在學生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

私立大學在學生男女比：83.3794528902844 ≑ 83.38

### 國立大學延修生男女比

In [36]:
public_extension_male = 0
public_extension_female = 0

df1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df1)):
    if df1.loc[i,'公私立'] == '國立':
        public_extension_male += count[df1.loc[i,'學校名稱']]['延修生']['男生數']
        public_extension_female += count[df1.loc[i,'學校名稱']]['延修生']['女生數']

ratio = public_extension_male/public_extension_female*100 # 男女比計算公式
print(f'國立大學延修生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

國立大學延修生男女比：146.46375791695988 ≑ 146.46

### 私立大學延修生男女比

In [37]:
private_extension_male = 0
private_extension_female = 0

df1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df1)):
    if df1.loc[i,'公私立'] == '私立':
        private_extension_male += count[df1.loc[i,'學校名稱']]['延修生']['男生數']
        private_extension_female += count[df1.loc[i,'學校名稱']]['延修生']['女生數']

ratio = private_extension_male/private_extension_female*100 # 男女比計算公式
print(f'私立大學延修生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

私立大學延修生男女比：134.9412577747063 ≑ 134.94